.mid > div {
    height: 100px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1;
}
img {
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 1) inset;
}
