body {
    text-align: center;
    font-family: 'Monaco', monospace;
    background-color: white;
    color: black;
}

.up {
    font-size: 36px;
    position: fixed;
    width: 100vw;
    top: 0vh;
    left: 0vw;
}
.mid {
    font-size: 26px;
    position: fixed;
    width: 50vw;
    height: 75vh;
    top: 15vh;
    left: 25vw;
    overflow-y: auto;
    scrollbar-width: none;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1), 0 -10px 10px -10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.down {
    font-size: 16px;
    position: fixed;
    width: 100vw;
    left: 0vw;
    bottom: 1vh;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
a:hover {
    background-color: black;
    color: white;
}
